[user]
	email = mhoward@roomag.org
	name  = Meredith Howard

[transfer]
        fsckobjects = true

[ui]
	color = true

[core]
	pager = LESS='FSRX' less

[alias]
	ci      = commit
	rec     = commit -p
	unrec   = checkout --patch
	st      = status -sb
	co      = checkout
	br      = branch
	staged  = diff --cached
	unstage = reset HEAD --
	update  = "!git remote update -p && git merge --ff-only --stat @{u}"
	in      = "!git remote update -p; git log --pretty=onelinecustom ..@{u}"
	out     = "!git log --pretty=onelinecustom @{u}.."
	new     = "!git log --pretty=onelinecustom $1@{1}..$1@{0}"
	cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 echo git branch -d"
	ctags   = "!~/.git_helpers/ctags"
	glog    = log --graph --pretty=onelinecustom
	recent  = !sh -c 'git for-each-ref --count=${1:-20} --sort=-committerdate --format=\"%(committerdate:short) %(refname:short)\"' "$@"
	bre     = !vim $(git diff --name-only @{u}..)
	brer    = !vim --remote $(git diff --name-only @{u}..)

[pretty]
	onelinecustom = tformat:%C(magenta)%h%Creset -%C(yellow)%d%Creset %s %C(green)(%cr)%Creset %C(cyan)<%an>%Creset

[branch]
	autosetuprebase = always
	autosetupmerge  = always

[push]
	default = current

[rebase]
	stat = true

# include.path is available in git 1.7.10 and later
[include]
	path = ~/.gitconfig.local

# vim: noet:sw=8
