[user]
	email = mhoward@roomag.org
	name  = Meredith Howard

[github]
	user = merrilymeredith

[alias]
	ci       = commit
	rec      = commit -p
	unrec    = checkout --patch
	amend    = commit -p --amend
	st       = status -sb
	co       = checkout
	br       = branch
	staged   = diff --cached
	unstage  = reset HEAD --
	rollback = reset --soft ^HEAD
	up       = pull -r --prune
	update   = "!git remote update -p && git merge --ff-only --stat @{u}"
	in       = "!git remote update -p; git log --pretty=onelinecustom ..@{u}"
	out      = "!git log --pretty=onelinecustom @{u}.."
	new      = "!git log --pretty=onelinecustom $1@{1}..$1@{0}"
	cleanup  = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 echo git branch -d"
	glog     = log --graph --pretty=onelinecustom
	recent   = !sh -c 'git for-each-ref --count=${1:-20} --sort=-committerdate --format=\"%(committerdate:short) %(refname:short)\" ${@:2}' -

[branch]
	autosetuprebase = always
	autosetupmerge  = always

[commit]
	verbose = true
	gpgsign = true

[core]
	pager = LESS='FSRXi' less

[diff]
	compactionheuristic = true

[gpg]
	program = "gpg2"

[merge]
	tool = vimdiff2

[pretty]
	onelinecustom = tformat:%C(magenta)%h%Creset %G? -%C(yellow)%d%Creset %s %C(green)(%cr)%Creset %C(cyan)<%an>%Creset

[push]
	default = current

[rebase]
	stat = true

[transfer]
        fsckobjects = true

[ui]
	color = true

# include.path is available in git 1.7.10 and later
[include]
	path = ~/.gitconfig.local

# vim: noet:sw=8
