[user]
	email = mhoward@roomag.org
	name  = Meredith Howard

[ui]
	color = true

[core]
	pager = LESS='FSRX' less

[alias]
	ci      = commit
	rec     = commit -p
	unrec   = checkout --patch
	st      = status -sb
	co      = checkout
	br      = branch
	staged  = diff --cached
	unstage = reset HEAD --
	update  = "!git remote update -p && git merge --ff-only --stat @{u}"
	in      = "!git remote update -p; git log ..@{u}"
	out     = "!git glog @{u}.."
	new     = !sh -c 'git log $1@{1}..$1@{0}' "$@"
	cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 echo git branch -d"
	ctags   = "!~/.git_helpers/ctags"
	glog    = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	recent  = !sh -c 'git for-each-ref --count=${1:-20} --sort=-committerdate --format=\"%(committerdate:short) %(refname:short)\"' "$@"
	last    = !sh -c 'git log -${1:-1} --stat' "$@"

[branch]
	autosetuprebase = always
	autosetupmerge  = always

[push]
	default = current

[rebase]
	stat = true

# include.path is available in git 1.7.10 and later
[include]
	path = ~/.gitconfig.local

# https://github.com/aanand/git-up
# $ gem install git-up
[git-up "rebase"]
	log-hook = "echo \"changes on $1 -> $2:\"; git --no-pager log --oneline --decorate $1..$2"

