$include /etc/inputrc

set completion-ignore-case on

set expand-tilde on
set mark-directories on
set show-all-if-ambiguous on
set visible-stats on
set completion-display-width 120

set bell-style none

set input-meta on
set output-meta on

# Incremental searching with Up and Down and Left and Right
$if mode=emacs
  "\e[A": history-search-backward
  "\e[B": history-search-forward
  "\e\e[C": forward-word
  "\e\e[D": backward-word
$endif

$if Bash
  Space: magic-space
$endif

